<h1>ALL THE USERS</h1>

<% users.forEach(function(user){ %>
    <li>
    Username: <%= user.username %>. and my id is :<%= user._id %>
    </li>
<% }) %>


<form action="/emex" method="POST">
<input type="text"  name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<button>sign up</button>
</form>


<form action="/login" method="POST">
    <input type="text"  name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>log in</button>
    </form>

<button>
        <a href="/logout">logout</a>
</button>   


