<% users.forEach(function(user){ %>
    <h3>
    Username: <%= user.username %>.  And the password: <%= user.password %>
    </h3>
<% }) %>


<!-- <form action="/emex" method="post">
<input type="text"  name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<button>submit</button>
</form> -->