<h1>ALL THE USERS</h1>

<% users.forEach(function(user){ %>
    <H3>
    Username: <%= user.username %>. Edit <button> <a href="/emex/<%= user._id %>">Password</a></button>
    </H3>
<% }) %>





<% if(!User){ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
<% } else{ %>
    <li><a href="/logout">Logout</a></li>
    <% } %>



