<h2>
    UPDATE YOUR PASSWORD <%= user.username.toUpperCase() %>
</h2>


<form action="/emex/<%= user._id %>?_method=PUT" method="POST">
    <label for="">update username</label>
    <input  name="user[username]" type="text" value="<%= user.username %>">
    <button>Update</button>
</form>

<button ><a href="/emex">BACK</a></button>